;; shadow-cljs configuration
{:source-paths
 ["src"
  "test"]

 :dependencies
 [[org.clojure/clojure "1.12.0"]
  [riddley/riddley "0.2.0"]]

 :builds
 {:test
  {:target :node-test
   :output-to "target/test.js"
   :autorun true}
  
  :browser-test
  {:target :browser-test
   :test-dir "target/browser-test"
   :devtools {:http-port 8021
              :http-root "target/browser-test"}}
  
  :node-repl
  {:target :node-script
   :output-to "target/node-repl.js"
   :main is.simm.lean-cps.async-test/init}}}
